<div class="left">Stylesheet:</div>

<div class="middle">
     <select id="stylesheetId" class="inputcombo" size="1" name="stylesheet" onfocus="clearStatus();">
       <option value="xsl/dwd-sru.xsl&amp;x-dwd-stylesheetDetailLevel=1" selected="selected">[ select a stylesheet (default: synopsis) or plain xml ]</option>
       <option value="xsl/dwd-sru.xsl&amp;x-dwd-stylesheetDetailLevel=0">title and abstract only</option>
       <option value="xsl/dwd-sru.xsl&amp;x-dwd-stylesheetDetailLevel=1">synopsis</option>
       <option value="xsl/dwd-sru.xsl&amp;x-dwd-stylesheetDetailLevel=2">complete</option>
       <option value="xsl/simple.xslt">simple html</option>
       <option value="">plain xml</option>
   </select>
</div>

<div class="left">Start Record:</div>
<div class="middle">
  <input id="startRecordId" type="text" name="startRecord" size="3" value="1" onfocus="clearStatus();">
</div>

<div class="left">Max. Records:</div>
<div class="middle">
  <input id="maximumRecordsId" type="text" name="maximumRecords" size="3" value="5" onfocus="clearStatus();">
</div>

<div class="left">Version:</div>
<div class="middle">
  <input id="versionId" type="text" name="version" size="3" value="1.1" onfocus="clearStatus();" readonly>
</div>
