.formlist {
    margin-left: 5%;
    width: 90%;
    border: 0.2em outset #666699;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
	padding-top: 1.3em;
	padding-bottom: 1.3em;
    
}


.formlist2 {
    margin-left: 5%;
    width: 90%;
}

.left {
    float:left;
    margin-left: 5%;
}

.middle {
    margin-left: 15%;
}


.highlight {
	margin-top: 1.3em;
	margin-bottom: 0.6em;
}

#completeId {
    margin-left: 5%;
    font-size: small; 
}

#queryId {
    width: 75%; 
   border: 0.2em solid #22CC22;
     -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

#serverId {

    width: 75%; 
}

.inputcombo {
    width: 50%; 
}

