body {
    background:  #EFEEF5;
    color:       #336699;
    font-family: Arial, Helvetica, sans-serif;
    margin:      0;
}

/* TODO: the a styles were defined for #gisc children */
a:link {
    text-decoration:   none;
}

a:visited {
    text-decoration:   none;
    color:             #324A92;
} 

a:hover {
    color:             #324A92;
    background-color:  #DFE4F3;
}

#DWD_Content {
    background:    White;
    padding-left:  0.5em;
    padding-right: 0.5em;
    min-width:     600px;
    min-height:    600px;
}

/* ------------------------ Labels ------------------------ */
/* ... representing XML element names or their translations */
.label {
    font-weight: bold;
    color: #336699; /* IE 8 does not inherit this correctly from 'body' */
}

.label.tooltip {
    /* span of both class 'label' and 'tooltop' */
    cursor: help;
}

/* ------------------- Table standards -------------------- */

table .even {
/*    background: #FFFFFF; Gives too much contrast... */
    background: #EFEEF5;
}

table .odd {
    background: #D8D8E5;
}

td {
    vertical-align : top;
}

th {
    text-align:       left;
    vertical-align :  top;
    background-color: #D8D8E5;
    border:           1px solid #A7BAC7; /* TODO: hier nochmal eine neue Rahmenfarbe...?!?! */
}

.list {
    border: 0.2em outset #666699;
}

.list td {
    padding: 0px;
    border: 1px solid #9999CC;
}

/* --------------------- SRU Records ---------------------- */

.sru-record-wrapper {
    padding: 10px;
    outline: 1px solid;
    background: #EFEEF5;
}

.sru-record-info {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

/* ------------------- SRU Diagnostics -------------------- */
table.sru-diagnostics { 
    width:          100%;
    margin-top:     3px;
    margin-bottom:  3px;
    border:         1px solid;
}

table.sru-diagnostics caption {
    font-weight:    bold;
    text-align:     left;
}

/* ------------------- DISCLOSURE PANEL ------------------- */

.toggleDisclosure-button {
    display: inline-block;
    width:             16px;
    height:            16px;
    background-image:  url(../icon/new/fold-16x16.png);
    background-repeat: no-repeat;
    vertical-align:    middle;
}

.closed .toggleDisclosure-button {
    background-image:  url(../icon/new/unfold-16x16.png);
}

.toggleDeepDisclosure-button {
    display: inline-block;
    width:             16px;
    height:            16px;
    background-image:  url(../icon/new/fold-all-16x16.png);
    background-repeat: no-repeat;
    vertical-align:    middle;
}

.closed .toggleDeepDisclosure-button {
    background-image:  url(../icon/new/unfold-all-16x16.png);
}

.md-fieldset {
    border: 1px solid;
    outline: none;
    padding: 0;
    margin: 0;
}

.md-fieldset * { /* keep the nested elements as tight as possible... */
    padding: 0;
    margin: 0;
}

.md-fieldset.closed {
    background: #D8D8E5;
}

.md-fieldset-content {
    visibility: visible;
}

.closed .md-fieldset-content {
    display:    none;
}

/* ------------------------ PAGER ------------------------ */

table.pager {
    white-space:nowrap;
}

table.pager a {
    font-weight:bold;
}

table.pager .inactive {
    color: #AAAAAA;
}


/* ------------------- METADATA DISPLAY ------------------- */

.md-title {
    font-weight: bold;
    padding-bottom: 1ex;
}

.md-abstract {
    padding-bottom: 1ex;
}

table.md-boundingBox {
    text-align: center;
    width: 100%;
}

table.md-boundingBox td{
    border: 0px none;
    outline: 0px none;
    text-align: center;
    width: 33.3%;
}

table.md-table {
    width: 100%;
}
/* roughly left alignment of th elements
table.md-table th { 
    width: 25%;
}
*/

/* correct left alignment of th elements, but IE 8 has broken table
layout algo, which spits at these presets sometimes, when a colspan=2
row incorporates a table :-( */
.md-fieldset.level-1 table.md-table th { 
    width: 249px;
    /* background: white; /* only for debugging */
}
.md-fieldset.level-3 table.md-table th { 
    width: 246px;
    /* background: brown; /* only for debugging */
}
.md-fieldset.level-6 table.md-table th { 
    width: 243px;
    /* background: pink; /* only for debugging */
}
.md-fieldset.level-9 table.md-table th { 
    width: 240px;
    /* background: blue; /* only for debugging */
}
.md-fieldset.level-12 table.md-table th { 
    width: 237px;
    /* background: red; /* only for debugging */
}
.md-fieldset.level-15 table.md-table th { 
    width: 234px;
    /* background: green; /* only for debugging */
}
.md-fieldset.level-18 table.md-table th { 
    width: 231px;
    /* background: yellow; /* only for debugging */
}

/*----- Only for debugging purposes -----*/
/*
.md-attribute {
    color: red;
}
div.md-swallowed {
    background: red;
}
.md-item {
  background: paleyellow;
}
.md-codeList {
  background: palegreen;
}*/
